facuevadatafactory/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "facuevadatafactory"
		},
		"Conector_ADLS_DataFactory_accountKey": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"accountKey\"de \"Conector_ADLS_DataFactory\""
		},
		"Conector_AzureDatabricks_DataFactory_accessToken": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"accessToken\"de \"Conector_AzureDatabricks_DataFactory\""
		},
		"Conectto_AzureDatabricks_DataFactory_Plata_Oro_accessToken": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"accessToken\"de \"Conectto_AzureDatabricks_DataFactory_Plata_Oro\""
		},
		"Conector_ADLS_DataFactory_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://facuevaa.dfs.core.windows.net/"
		},
		"Conector_AzureDatabricks_DataFactory_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "1004-035638-tvg6yh98"
		},
		"Conectto_AzureDatabricks_DataFactory_Plata_Oro_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "1004-035638-tvg6yh98"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Conector_ADLS_DataFactory')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked server entre los servicios Azure Data Lake Storage Gen 2 y Data Factory Studio",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('Conector_ADLS_DataFactory_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('Conector_ADLS_DataFactory_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Conector_AzureDatabricks_DataFactory')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-4107711306090940.0.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('Conector_AzureDatabricks_DataFactory_accessToken')]"
					},
					"existingClusterId": "[parameters('Conector_AzureDatabricks_DataFactory_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Conectto_AzureDatabricks_DataFactory_Plata_Oro')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-4107711306090940.0.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('Conectto_AzureDatabricks_DataFactory_Plata_Oro_accessToken')]"
					},
					"existingClusterId": "[parameters('Conectto_AzureDatabricks_DataFactory_Plata_Oro_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ingesta_capa_bronce_plata')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/facuevaastete@outlook.es/Ingesta_Capa_Bronce_a_Plata"
						},
						"linkedServiceName": {
							"referenceName": "Conector_AzureDatabricks_DataFactory",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Conector_AzureDatabricks_DataFactory')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Archivo_input_ADLS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Conector_ADLS_DataFactory",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "proyectofinal/input",
						"fileSystem": "fiorellacueva"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Cod_Categoria",
						"type": "String"
					},
					{
						"name": "Nombre",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Conector_ADLS_DataFactory')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Archivos_capa_bronce_ADLS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Conector_ADLS_DataFactory",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Archivo_capa_bronce": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().Archivo_capa_bronce",
							"type": "Expression"
						},
						"folderPath": "proyectofinal/capa_bronce",
						"fileSystem": "fiorellacueva"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Conector_ADLS_DataFactory')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Archivos_input_copiar_ADLS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Conector_ADLS_DataFactory",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Archivo_input": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().Archivo_input",
							"type": "Expression"
						},
						"folderPath": "proyectofinal/input",
						"fileSystem": "fiorellacueva"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Cod_Categoria",
						"type": "String"
					},
					{
						"name": "Nombre",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Conector_ADLS_DataFactory')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ingesta_capa_plata_oro')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/facuevaastete@outlook.es/Ingesta_Capa_Plata_a_Oro"
						},
						"linkedServiceName": {
							"referenceName": "Conectto_AzureDatabricks_DataFactory_Plata_Oro",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Conectto_AzureDatabricks_DataFactory_Plata_Oro')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ingesta_input_capa_bronce')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Ingesta de datos del input a la capa bronce",
				"activities": [
					{
						"name": "Obtener_metadata_input",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Archivo_input_ADLS",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Obtener_metadata_input",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Obtener_metadata_input').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "Archivos_input_copiar_ADLS",
											"type": "DatasetReference",
											"parameters": {
												"Archivo_input": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Archivos_capa_bronce_ADLS",
											"type": "DatasetReference",
											"parameters": {
												"Archivo_capa_bronce": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Archivo_input_ADLS')]",
				"[concat(variables('factoryId'), '/datasets/Archivos_input_copiar_ADLS')]",
				"[concat(variables('factoryId'), '/datasets/Archivos_capa_bronce_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ejecutar_todo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Ejecuta todo el proceso de ingesta",
				"activities": [
					{
						"name": "ingesta_input_capa_bronce",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ingesta_input_capa_bronce",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "ingesta_capa_bronce_plata",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ingesta_input_capa_bronce",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ingesta_capa_bronce_plata",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "ingesta_capa_plata_oro",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ingesta_capa_bronce_plata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ingesta_capa_plata_oro",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ingesta_input_capa_bronce')]",
				"[concat(variables('factoryId'), '/pipelines/ingesta_capa_bronce_plata')]",
				"[concat(variables('factoryId'), '/pipelines/ingesta_capa_plata_oro')]"
			]
		}
	]
}